<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Oxygen:300" rel="stylesheet" type="text/css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!-- <menu></menu> -->
<div class="header">
<logo>Jessica J. Kim</logo>
<slogan>Web developer, Fulbright scholar, Duke graduate class of 2012</slogan>
<sub-slogan>Currently located in San Francisco and looking for a position as a web developer. I have experience in building applications with Ruby, Rails, SQL, JavaScript, jQuery, and Backbone.</sub-slogan>
</div>
<buttons>
  <!-- <title>Click to learn more</title> -->
  <div class="group">
    <li class="one">
      <div class="info" id="me">me</div>
    </li>
    <li class="two">
      <div class="info" id="code">code</div>
    </li>
    <li class="three">
      <div class="info" id="about">about</div>
    </li>
    <li class="four">
      <div class="info" id="contact">contact</div>
    </li>
  </div>
  <div class="group">
    <a class="five" href="">
      <div class="link" id="">growing up</div>
    </a>
    <a class="six active" href="http://www.github.com/adoseofjess/chess">
      <div class="link" id="">chess</div>
    </a>
    <a class="seven" href="http://www.github.com/adoseofjess">
      <div class="link" id=""><i class="fa fa-github-square"></i></div>
    </a>
    <a class="eight" href="mailto:jessjkim@gmail.com">
      <div class="link" id=""><i class="fa fa-envelope-o"></i></div>
    </a>
  </div>
  <div class="group">
    <a class="nine" href="">
      <div class="link" id="">college</div>
    </a>
    <a class="ten" href="http://www.github.com/adoseofjess/snake">
      <div class="link" id="">snakes</div>
    </a>
    <a class="eleven" href="http://www.instagram.com/jessjkim"> 
      <div class="link" id=""><i class="fa fa-instagram"></i></div>
    </a>
    <a class="twelve" href="http://www.linkedin.com/in/jessicajk">
      <div class="link" id=""><i class="fa fa-linkedin-square"></i></div>
    </a>
  </div>
  <div class="group">
    <a class="thirteen" href="">
      <div class="link" id="">post-college life</div>
    </a>
    <a class="fourteen" href="http://www.crossedout.in/">
      <div class="link" id="">crossed out</div>
    </a>
    <a class="fifteen">
      <div class="link" id=""><i class="fa fa-pencil"></i></div>
    </a>
    <a class="sixteen" href="http://www.twitter.com/jessjkim">
      <div class="link" id=""><i class="fa fa-twitter"></i></div>
    </a>
  </div>
</buttons>

<script type="text/javascript">

setInterval(function () {
  $('buttons a.active').removeClass('active');
  $($('buttons a').sort(function() {return 0.7 - Math.random()})[0]).addClass('active');
}, 1000);
  
  $('buttons a').mouseover(
    function() {
      $(event.currentTarget).addClass('click')
    });
  $('buttons a').mouseout(
    function() {
      $(event.currentTarget).removeClass('click')
    });

</script>