/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
/*  background: black;*/
  background: #f1e2cd;
}

menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 20px;
  margin: 0;
  background: white;
  box-shadow: 0 -1px 15px;
}

.header {
/*  border: 2px solid black;*/
/*  background: white;*/
}

logo {
  font-family: 'Titillium Web', sans-serif;
  display: block;
  font-size: 80pt;
  color: black;
  text-align: center;
  padding: 2% 0 0 0;
  line-height: 96pt;
}

slogan {
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20pt;
  font-weight: 300;
  text-align: center;
  padding: 20px 0 0 0;
  color: #507AAA;
}

sub-slogan {
  background: #c1bcc1;
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 10pt;
  font-weight: 300;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-left: 13%;
  margin-right: 13%;
  color: black;
  border: 1px solid black;
  line-height: 20px;
}

buttons {
  max-width: 860px;
  margin: 0 auto 0;
  display: block;
  text-align: center;
  padding: 0px 0 10px;
}

buttons title {
  color: black;
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 64pt;
  margin-top: 30px;
}

.group {
  width: 100%;
  display:block;
}

li {
  font-family: 'Oxygen',sans-serif;
  display: inline-block;
  width: 150px;
  height: 50px;
  margin: 1em;
  line-height: 1;
/*  box-shadow: 0 0 10px;*/
  border-radius: 3px;
  position: relative;
/*  background: white;*/
}

a {
/*  font-family: 'Titillium Web', sans-serif;*/
  font-family: 'Oxygen',sans-serif;
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 1em;
  line-height: 1;
  box-shadow: 0 0 10px;
  border-radius: 3px;
  position: relative;
  background: white;
  text-decoration: none;
  outline: none;
  color: none;
}

a:-webkit-any-link {
  outline: none;
  text-decoration:none !important;
  color: none;
}

.info {
  font-size: 25px;
  width: 150px;
  height: 100px;
  border-radius: 3px;
  padding-top: 35px;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

.link {
  font-size: 15px;
  width: 150px;
  height: 100px;
  border-radius: 3px;
  padding-top: 35px;
  text-align: center;
  line-height: 1;
}

.one {
/*  background: white;*/
}

.two {
/*  background: blue;*/
}

.three {
/*  background: red;*/
}

.four {
/*  background: green;*/
}

.five.active {
  background: #edb0ed;
}

.five.click {
  background: #edb0ed;
}

.five:hover:after {
    display: inline-block;
    content: 'I was born in Los Angeles, California then lived in South Korea from 1998 to 2006. I finished high school in La Canada, CA.';
    margin-left: 120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.six.active {
  background: #c2eff2;
}

.six.click {
  background: #c2eff2;
}

.six:hover:after {
    display: inline-block;
    content: 'A two-person chess game played in the terminal. Uses object-oriented programming with pieces inheriting from sliding/stepping/pawn modules. Game checks if move is valid and handles check and checkmate situations. Used Ruby. Click for Github source code.';
    margin-left: 120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.seven.active {
  background: #c2f2c6;
}

.seven.click {
  background: #c2f2c6;
}

.seven:hover:after {
    display: inline-block;
    content: 'Read my code on Github!';
    margin-left: 120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.eight.active {
  background: #7d8bf5;
}

.eight.click {
  background: #7d8bf5;
}

.eight:hover:after {
    display: inline-block;
    content: 'Email me at jessjkim@gmail.com!';
    margin-left: -120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.nine.active {
  background: #3cf363;
}

.nine.click {
  background: #3cf363;
}

.nine:hover:after {
    display: inline-block;
    content: 'I graduated from Duke University in 2012. I studied Public Policy and Economics. In college, I was interested in how microfinance affects the lives of people with traditionally low access to credit in developing countries. I spent time in Bangladesh and India conducting field work and wrote my senior honors thesis on how the caste system affects microfinance default rates in rural India.';
    margin-left: 120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.ten.active {
  background: #f1f416;
}

.ten.click {
  background: #f1f416;
}

.ten:hover:after {
    display: inline-block;
    content: 'A game of a snake eating up apples played in the browser. Used JavaScript and HTML/CSS. Click for Github source code.';
    margin-left: 120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.eleven.active {
  background: #d42979;
}

.eleven.click {
  background: #d42979;
}

.eleven:hover:after {
    display: inline-block;
    content: 'Check out my Instagram!';
    margin-left: 120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.twelve.active {
 background: #9ca29d; 
}

.twelve.click {
 background: #9ca29d; 
}

.twelve:hover:after {
    display: inline-block;
    content: 'Connect with me on LinkedIn!';
    margin-left: -120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.thirteen.active {
  background: #f47e16;
}

.thirteen.click {
  background: #f47e16;
}

.thirteen:hover:after {
    display: inline-block;
    content: 'In June 2012, I went to Taipei for two months to learn intermediate Chinese. Then I went to South Korea on a 10-month Fulbright scholarship. My research was on how North Korean defectors on how find jobs. There I also became interested in programming.';
    margin-left: 120px;
    margin-top: -180px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.fourteen.active {
  background: #de6f6f;
}

.fourteen.click {
  background: #de6f6f;
}

.fourteen:hover:after {
    display: inline-block;
    content: 'A Backbone single-page personal and team-based task planning web application that uses RESTful Rails API. Used Rails polymorphic association. Overrode Rails method for custom JSON serializing. Used AJAX to invite new members to team and custom JavaScript animations. Used Action Mailer to generate and send custom emails. Used Ruby on Rails and Backbone.js. Click for site.';
    margin-left: 120px;
    margin-top: -180px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.fifteen.active {
  background: #d82929;
}

.fifteen.click {
  background: #d82929;
}

.fifteen:hover:after {
    display: inline-block;
    content: 'I like to write. Check out one of my blogs from spending the summer of 2010 in Dhaka, Bangladesh working at Grameen Bank!';
    margin-left: 120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

.sixteen.active {
  background: #1fedeb;
}

.sixteen.click {
  background: #1fedeb;
}

.sixteen:hover:after {
    display: inline-block;
    content: 'Send me a tweet!';
    margin-left: -120px;
    margin-top: -140px;
    z-index: 1;
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    padding: 5px;
}

